<h1>"<%= @article.title %>" by <%= @user.first_name.capitalize %></h1>
<p><%= @article.content %><p>
<%= link_to "Edit", "/users/#{params[:user_id]}/articles/#{params[:id]}/edit" %>
<%= button_to "Delete", "/users/#{params[:user_id]}/articles/#{params[:id]}", method: :delete %>